/* Reset básico */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    height: 100vh;
}

.ladingpage{
    background-color: #eaf7f5;
    display: flex;
}
.main {
    display: flex;
    background-color: #eaf7f5;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    margin-top: 60px;
    border-radius: 16px;
}

.contentmain{
    display: flex;
    margin-top: -100px;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 70%;
    gap: 20px;
}

.aprendamat {
    /* gambiarra */
    margin-left: 25px;
}

.aprendamat p {
    font-family: 'Poppins', sans-serif;  
    font-size: 60px;
    line-height: 1.1;
    font-weight: 800;
    color: #2c3e50;
}

#detaquemain {
    color: #008f5e;
    font-weight: 900;
    font-size: 75px; 
    
}

.descricao {
    margin-top: 16px;
    font-family: "Fjalla One", serif;
    line-height: 32px;
    font-size: 21px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #7f8c8d;
    margin-bottom: 32px;
    margin-left: 30px;
    margin-right: 25px;
}

.buttons {
    display: flex;
    justify-content: left;
    gap: 40px;
    margin-left: 27px;
    font-family: "Fjalla One", serif;   
}

.btn {
    padding: 19px 70px;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 100;
}

.create{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.create >h3,h5{
    color: white;
    
}

.green {
    background-color: #008f5e; 
    color: white;
}

.white {
    background-color: white;
    color: #008f5e;
    
}

.green:hover, .white:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.355);
    transition: transform 0.1s ease;
    transform:translateY(-3px);
       
} 
 

.icones {
    display: flex;
    justify-content: center; 
    align-items: center;     
    width: 50vw;
    margin-top: -50px;
}

.ico {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    gap: 25px; 
    width: 90%;
}

.card {
    background: #ffffff; 
    width: 300px; 
    border-radius: 18px;
    padding-top: 20px;
    padding-bottom: 20px; 
    padding-left: 20px; 
    padding-right: 20px; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Sombra mais suave */
    text-align: center;
    transition: all 0.3s ease; /* Transição mais suave */
    height: 180px;
}


.card:hover {
    transform: translateY(-5px); /* Efeito de levitação no hover */
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3); /* Sombra mais destacada no hover */
}

.card img {
    width: 45px;
    margin-top: 20px;
}


.card-icon {
    font-size: 50px; 
    margin-bottom: 10px; 
}

.card-text {
    font-size: 16px;
    margin-top: 20px;
}


/* Falta estilizar essa parte */
.saibamais{
    display: flex;
    background-color: #eaf7f5;
    justify-content: center;
    height: 250px;
    gap: 30px;
}

/* gambiarra para as imagens do saiba-mais */
.saibamais img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

[class^="box"]{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 360px;
    padding: 0 30px 0 30px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
 
}

[class^="box"]:hover{
    transform: translateY(-5px); 
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3); 
}   


.content{
    width: 80%;
}

.content > h2, p{
    font-family: "Fjalla One", serif;
    font-size: 15px;
}

.content > h2{
    padding-bottom: 15px;
    color: #15C315;
    font-size: 17px;
}


.create{
    height: 350px;
    background-color: #008f5e;
}

.create h3{
    font-size: 22px;
    padding-bottom: 10px;
}
.create h5{
    font-size: 18px;
    padding-bottom:12px ;
}
.create .button-criar-conta-gratuita {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 50px;
    width: 240px;
    color: #13803e;
    background-color: #fff;
    font-size: 18px;
    transition: transform 0.1s ease;
}
.create a.button-criar-conta-gratuita{
    text-decoration: none;
    font-family: "Fjalla One", serif;
   
}
.create .button-criar-conta-gratuita:hover{
      transform:translateY(-3px);
}


.nav .sair {
  text-decoration: none;
  padding: 4px 20px;
  
}








