.navbar {
       display: flex;
       align-items: center;
       width: 100vw;
       height: 8vh; 
       background-color: white; 
       justify-content: center;
       gap: 44%;
       padding: 30px;
       position: fixed; 
       z-index: 1000;
       top:0;
     
       
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: "Fjalla One", serif;
}

.logo a {
    text-decoration: none;
    color: #008f5e;
}

.logo a:hover {
    color: #15C315;
}

.logo img {
    width: 40px;
}

a {
    text-decoration: none;
    color: white;
}


.botao-sair,
.botao-extra {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 10px;
    width: 80px;
    color: white;
    background-color: #008f5e;
    font-family: "Fjalla One", serif;
    font-size: 15px;
   
   
}


.botao-sair:hover,
.botao-extra:hover {
    position: relative;
    transition: transform 0.1s ease;
    transform: translateY(-3px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.355);
}


.botoes-nav {
    display: flex;
    gap: 10px;
}
