<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Matec{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/images/favicon.ico') }}">

</head>
<body>

    <!-- Navbar -->
    {% include 'partials/navbar.html' %}

    <!-- Conteúdo da página -->
    <main>
        {% block conteudo %}{% endblock %}
    </main>

    <!-- Footer -->
    {% include 'partials/footer.html' %}

</body>
</html>
