<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Matec - Conteúdos{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css') }}">
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/calculator.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calculator.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&family=Fjalla+One&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    {% include 'partials/navbar.html' %}

    <!-- Conteúdo Principal -->
    <main class="main-content">
        {% block conteudo %}
        {% endblock %}
    </main>

    <!-- Footer -->
    {% include 'partials/footer.html' %}
</body>
</html>
